* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
  display: flex;
  background: #f4f3f3;
  height: 7vh;
}

nav div {
  display: flex;
  align-items: center;
  flex: 50%;
}

nav div.left-side {
  padding-left: 90px;
}

nav div.right-side {
  padding-right: 90px;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin-left: 40px;
}

nav ul li {
  display: inline;
  margin-left: 40px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

nav ul li a.list-active {
  color: #22a547;
  font-weight: 700;
}

nav .right-side a {
  font-size: 15px;
  padding: 8px 20px;
  background-color: #1fa90d;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
/* end navbar */

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.blog-form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.input-blog-image-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-blog-image-group p {
  font-weight: bold;
  margin-right: 10px;
}

.input-blog-image-group img {
  width: 50px;
  height: 50px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: rgb(35, 35, 133);
  color: rgb(220, 89, 60);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.line {
  width: 100%;
  border-top: 1px solid grey;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-list-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.blog-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-edit,
.btn-post {
  padding: 10px 20px;
}